@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Lateef&family=Ms+Madi&family=Raleway:ital,wght@0,100;0,400;0,600;1,100&display=swap');

$cardo: 'Cardo', serif;
$lateef: 'Lateef', cursive;
$ms-madi: 'Ms Madi', cursive;
$raleway: 'Raleway', sans-serif;