.admin {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .content {
    display: flex;
    flex: 1;
  }

  .header {
    background-color: var(--chakra-colors-teal-600);
    box-shadow: 1px 1px 5px var(--chakra-colors-gray-500);
    color: white;
    height: auto;
    padding: 2rem;
    position: static;
  }

  .main {
    flex: 1;
    padding: 2rem;
  }

  .sidebar {
    background-color: var(--chakra-colors-teal-400);
    padding: 2rem;
    width: min(25vw, 300px);

    a.active {
      background-color: var(--chakra-colors-orange-300);
    }
  }
}
